*{margin:0; padding:0; font-family:"Roboto Mono";}

:root {
    --f-color: #fef0e3;
    --s-color: #ecc094;
    --t-color: #743a04;
}

a{text-decoration: none; color: #000}
.container{margin:0 180px}
.disNone{display:none}
.disBlock{display:block}


header {
    background-color: var(--f-color);
    border-bottom: 2px solid var(--t-color)
}
header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0
}
header ul {
    display: flex;
    align-items: center;
    list-style: none;
}
header ul li {
    font-size: 19px;
    font-weight: 500;
    margin-left: 25px
}
header ul li:hover {
    color: var(--t-color);
    cursor: pointer;
}
header .logo {
    margin-left: 35px;
    position: relative;
}
header .logo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -17px;
    transform: translateY(-50%);
    width: 3px;
    height: 63%;
    background-color: var(--t-color);
    border-radius: 10px;
}
header .logo img {
    width: 15em
}



footer {
    padding: 3em 0;
    background: linear-gradient(45deg, var(--s-color), var(--s-color) ,var(--f-color));
}

footer .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: relative;
    overflow: hidden;
    margin-bottom: 3em
}
footer .subscribe button {
    background-color: var(--t-color);
    color: #FFF;
    border: none;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
footer .subscribe button:hover {
    opacity: .9;
    cursor: pointer;
}
footer .subscribe input {
    height: 50px;
    width: 30em;
    padding-left: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}


footer .subscribe .cir {
    position: absolute;
    border-radius: 50%;
}
footer .subscribe .circles-right {
    position: absolute;
    top: 0;
    right: 0;
}
footer .subscribe .circles-right .cir1 {
    right: -40px;
    top: -40px;
    width: 8.5em;
    height: 8.5em;
    background-color: var(--t-color);
}
footer .subscribe .circles-right .cir2 {
    right: 25px;
    top: -79px;
    width: 7em;
    height: 7em;
    background-color: var(--s-color);
}
footer .subscribe .circles-right .cir3 {
    right: -60px;
    top: 47px;
    width: 5em;
    height: 5em;
    background-color: var(--s-color);
}

footer .subscribe .circles-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
footer .subscribe .circles-left .cir1 {
    left: -40px;
    bottom: -70px;
    width: 8.5em;
    height: 8.5em;
    background-color: var(--t-color);
}
footer .subscribe .circles-left .cir2 {
    left: 25px;
    bottom: -88px;
    width: 7em;
    height: 7em;
    background-color: var(--f-color);
}
footer .subscribe .circles-left .cir3 {
    left: -60px;
    bottom: 28px;
    width: 5em;
    height: 5em;
    background-color: var(--f-color);
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
footer .links a {
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px
}
footer .links a:first-child {
    margin-left: 0;
}
footer .links li:hover {
    color: var(--t-color);
    cursor: pointer;
}

footer .quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em 0
}
footer .quote p {

}
footer .quote h2 {
    margin: 0 10px;
    font-style: italic;
    color: var(--t-color);
}

footer .rights {
    text-align: center;
}