.landing {
    background-image: url('../Images/landBackground.jpg');
    background-position: center;
    height: 85vh;
    position: relative;
}
.landing::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #66330477
}

.landing .text {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.landing .text h1 {
    font-family: 'DM Serif Display';
    font-size: 4.7em;
    font-weight: 100;
}
.landing .text p {
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 18px;
}
.landing .text a {
    
}
.landing .text button {
    width: 10em;
    height: 2.5em;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--s-color);
    border-radius: 2px;
}
.landing .text button:hover {
    cursor: pointer;
    opacity: .8;
}


.features {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1em */
}
.features .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--s-color);
    height: 20em;
    width: 25%;
}
.features .box img {
    width: 4.5em;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
}
.features .box h3 {
    margin: 5px 0 10px;
}
.features .box p {
    padding: 0 1.5em
}
.features .box:nth-child(even) {
    background-color: var(--f-color);
}
.features .box:nth-child(even) img {
    background-color: var(--s-color);
}



.about {

}
.about .container {
    display: flex;
    justify-content: space-evenly;
    padding: 4em 0;
}
.about .container .text {

}
.about .container .text h2 {
    position: relative;
    width: fit-content;
    font-size: 2em;
    padding-left: 15px;
    margin-bottom: 10px
}
.about .container .text h2::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 4px;
    background-color: var(--t-color);
}
.about .container .text p {
    max-width: 700px;
    margin-bottom: 12px;
    line-height: 1.6em;
}
.about .container .text p b {
    background-color: var(--t-color);
    color: #fff;
    padding: 1px 3px;
    border-radius: 2px;
}
.about .container .text p b:hover {
    text-decoration: underline;
    background-color: var(--s-color);
}
